<h3>Answer {{question.authorfirst}}'s Question</h3>

<ul>
  {{#each question.answers as |answer|}}
  <li class="answer-tile">
    <p><i class="fa fa-user"></i> {{answer.answerAuthor}}</p>
    <p>"{{answer.answerInput}}"</p>
  </li>
  {{/each}}
</ul>
