<div class="fav-question-wrapper">
  {{#each favoriteQuestions.questions as |question|}}
  <div class="fav-question-tile">
    <h3>{{question.query}}</h3> <p>{{question.authorfirst}} {{question.authorlast}}</p>
  </div>
  {{/each}}
</div>
