<h1>Question Display HBS</h1>
<li>
  {{#link-to 'questions' question.id}}<p><strong>Question:</strong> {{question.question}}</p>{{/link-to}}
</li>
<!-- <button {{action 'deleteQuestion' question}}>Delete</button>
{{question-edit update='update'}} -->
