<li>
  {{#link-to 'questions' question.id}}<h1><strong>Question:</strong> {{question.query}}</h1>{{/link-to}}
</li>
<!-- <button {{action 'deleteQuestion' question}}>Delete</button>
{{question-edit update='update'}} -->
