* {
  border: none;
  list-style: none;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

hr {
  margin: 1rem 0;
  background-color: tomato;
  height: 1px;
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: lightgray;
}

.nav {
  display: flex;
  align-items: center;
  p, a {
    margin: 0 0 0 2rem;
  }
  h2 {
    font-size: 1.8rem;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 1rem;
    color: white;
    transition: all 0.1s ease-in-out;
    &:hover {
      background-color: tomato;
      border-left: 1px solid lightgray;
      border-right: 1px solid lightgray;
      cursor: pointer;
    }
  }
  a, p {
    color: white;
    transition: all 0.1s ease-in-out;
    padding: 0.4rem;
    border-radius: 4px;
    border: 2px solid lightgray;
    &:hover {
      border: 2px solid white;
      cursor: pointer;
    }
  }
  a:first-of-type {
    border: none;
    margin: 0;
  }
  .pop-questions-nav {
    display: flex;
    color: white;
    border: 2px solid lightgray;
    // padding: 0.4rem;
    // border-radius: 4px;
    // &:hover {
    //   border: 2px solid white;
    // }
    div {
      margin: 0 0.6rem 0 0;
      color: white;
    }
    .fav-counter {
      padding: 0 0 0 0.8rem;
      margin: 0;
      border-left: 1px solid white;
    }
  }
}
.container {
  width: 960px;
  margin: 0 auto;
}
section {
  margin: 1rem 0;
  flex: 1;
}
.questions-index {
  display: flex;
  align-items: center;
  .hot-question {
    p {
      color: tomato;
      font-weight: bolder;
      font-size: 1.8rem;
      margin: 0.6rem 0.6rem 0 0;
    }
  }
}
.query-index {
  margin: 0.6rem 0 0 0;
  font-size: 1.8rem;
  transition: all 0.3s ease-in-out;
  font-style: normal;
  padding: 0.2rem 0.6rem;
  &:hover {
  background-color: lightgray;
  padding: 0.2rem 0.6rem;
  }
}
button {
  margin: 0.6rem 0 0 0;
  padding: 0.5rem 0.8rem;
  color: white;
  font-size: 0.8rem;
  transition: all 0.15s ease-in-out;
  &:hover {
    background-color: tomato;
    cursor: pointer;
  }
}

input {
  border: 1px solid lightgray;
  height: 1rem;
  color: tomato;
  font-size: 0.8rem;
}

//QUESTIONS ROUTE
.query-questions {
  font-size: 2rem;
  color: tomato;
  font-style: italic;
  font-weight: lighter;
  margin: 0 0 0.8rem 0;
}
.question-questions {
  margin: 0 0 0 0.8rem;
}
.question-buttons-questions {
  display: flex;
  justify-content: space-between;
  width: 12rem;
}
.new-answer-form {
  margin: 0 0 0 1.6rem;
}
.answer-display {

}
.answer-tile {
  margin: 0 0 0 0.8rem;
  ul {
    margin: 0 0 0 0.8rem;
    li {
      display: flex;
      align-items: center;
      // padding: 1rem;
      border: 2px solid lightgray;
      width: auto;
      margin: 1rem 0 0 0;
      p {
        &:first-child {
          text-align: center;
          background-color: lightgray;
          width: 10%;
          height: 100%;
          padding: 1rem 0.5rem;
          display: flex;
          flex-direction: column;
          font-size: 0.8rem;
          i {
            font-size: 2rem;
            margin: 0.2rem;
          }
        }
        &:last-child {
          margin: 0 0 0 0.8rem;
          font-size: 1.2rem;
          width: 90%;
          color: gray;
          font-weight: lighter;
          font-style: italic;
        }
      }
    }
  }
}
