<div class="wrapper">
  <header>
    <div class="container">
      <div class="nav">
        {{#link-to 'index'}}<h2 id="title">Q&amp;A</h2>{{/link-to}}
        <p>About</p>
        <p>Contact</p>
        {{#link-to 'popular-questions'}}<div class="pop-questions-nav"><div>Popular Questions</div>{{fav-counter}}</div>{{/link-to}}
      </div>
    </div>
  </header>

  <section>
    <div class="container">
      {{outlet}}
    </div>
  </section>

  <footer>
  </footer>
</div>
