<h2>This is the Index</h2>
<ul>
  {{#each model as |question|}}
     <li>
       {{question-display question=question update="update" destroyQuestion='destroyQuestion'}}
     </li>
  {{/each}}
</ul>
{{new-question addQuestion2="addQuestion3"}}
