<h2>This is the Index</h2>
<ul>
  {{#each model.question as |question|}}
     <li>
       {{#link-to 'questions' question.id}}{{question.query}}{{/link-to}}
     </li>
  {{/each}}
</ul>
{{new-question addQuestion2="addQuestion3" question=model}}
