<h4>You have reached the Popular Questions Route</h4>
<h4>sup</h4>

{{fav-question-display question=question}}
<!-- {{#each favoriteQuestion.questions as |question|}} -->
  <!-- {{question.query}} -->
<!-- {{/each}} -->
