<p class="query-questions">Popular Questions</p>


  {{fav-question-display question=question}}

<!-- {{#each favoriteQuestion.questions as |question|}} -->
  <!-- {{question.query}} -->
<!-- {{/each}} -->
