<h1><em>This is the Question Route</em></h1>

{{question-guts question=model answer=model destroyQuestion='destroyQuestion' update='update'}}

{{answer-display answer=answer}}

{{new-answer addAnswer2="addAnswer3" question=model}}
