{{question-guts question=model answer=model destroyQuestion='destroyQuestion' update='update'}}

<div class="answer-tile">
  {{answer-display question=model}}
</div>
<div class="new-answer-form">
  {{new-answer addAnswer2="addAnswer3" question=model}}
</div>
